body {
  overflow-x: hidden;
  background-color: #AFCBFF;
}
.panel-body {
  background: #F9FBF2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
h1 {
  text-align: center;
  color: #0E1C36;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
}
.form-group {
  vertical-align: center;
}
.form-control {
  color: #280D67;
}
h5{
  font-family: Rubik;
  color: #3D348B;
  text-align: center;
  margin-top: 20%;
}
.container-fluid p{
  text-align: center;
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
}
.center{
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
  color: #0E1C36;
  font-family: Karla;
  font-size: 20px;
}
.judul-lp{     
  margin-top: 10%
}

.col-sm-4 {
  width: 366px;
  height: 599px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color:white;
}

.teks-deskripsi {
  background-color: #F9FBF2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.image {
  background-image: url(https://saltncookies.files.wordpress.com/2019/02/japan-resize.jpeg);
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(14, 28, 54, 0.7);
}

.profile {
  position: absolute;
  width: 210px;
  height: 210px;
  max-width: 100%;
  height: auto;
  top: 25%;
  left: 20%;
}
.judul {
  position: absolute;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  text-align: center;
  color: #FFEDE1;
  top: 20%;
  left: 15%;
}
.little-desc {
  position: absolute;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #FFEDE1;
  top: 60%;
  left: 20%;
}

.judul-desc {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  color: #0E1C36;
}

.desc {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: justify;
  color: #3D348B;
}

.progress {
  border: 1px solid #0E1C36;
  font-family: Karla;
  background-color: #F9FBF2;
}

.buttonnya {
  color: #13274A; 
  font-family: Karla;
  text-align: center;
  font-style: normal; 
  font-weight: bold; 
  font-size: 30px
}

.judulhehe{
  font-family: Rubik;
  font-weight: bold;
  color: #3D348B;
  text-align: center;
  margin-top: 20%;
}

.col-centered{
  left: 35%;
}

.panel-profile {
  padding: 0 18px;
  background-color: white;
  font-family: Karla;
  font-size: 18px;
  color: #13274A;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion {
  background-color: #E2ECFF;
  color: #0E1C36;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-color: none;
  text-align: left;
  outline: none;
  font-family: Karla;
  font-weight: bold; 
  font-size: 18px;
  transition: 0.4s;
}
#loader {
  background-color: #AFCBFF;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; 
}
#loader .spinner {
  width: 40px;
  height: 40px;
  background-color: #13274A;
  margin: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; 
}

@-webkit-keyframes sk-rotateplane {
  0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px); 
  }
  50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg); 
  }
  100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); 
      } 
  }
@keyframes sk-rotateplane {
  0% {
      -webkit-transform: perspective(120px);
      transform: perspective(120px);
  }
  50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
      transform: perspective(120px) rotateY(180deg);
  }
  100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
      transform: perspective(120px) rotateY(180deg) rotateX(180deg); 
      } 
  }