body {
    overflow-x: hidden;
    background-color: #AFCBFF;
}
.buttonnya {
    color: #13274A; 
    font-family: Karla; 
    font-style: normal; 
    font-weight: bold; 
    font-size: 30px
}
.judulhehe{
    font-family: Rubik;
    font-weight: bold;
    color: #3D348B;
    text-align: center;
    margin-top: 20%;
}