{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">

  {% load static %}
  <link href="{% static 'style_story6.css' %}" type="text/css" rel="stylesheet"/>
  <script src="{% static 'js_story10.js' %}"></script>

  <title>Subscribe to WebnyaMela</title>
  </head>

  <body>
    <div class ="container">
      <h1 class="text-center m-2"id="title">Subscribe to WebnyaMela</h1>
      <div class="row m-5">
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <form method="POST">
                  <div class="form-group">
                      {%csrf_token%}
                      {{forms}}
                  </div>
                  <button id= "submit_subscribe" disabled= "disabled" type="submit" class = "btn btn-dark">Subscribe</button>  
              </form>
          </div>
          <div class="col-md-4"></div>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
  {% endblock %}
</body>
</html>