<!doctype html>
<html lang="en">
    
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% load static %}
    <link href="{% static 'style_story6.css' %}" type="text/css" rel="stylesheet"/>

    <title>Apa Kabar?</title>
</head>

<body>
    <div class="container-fluid judul-lp">
        <div class ="row">
            <div class ="col-sm-8" style="float: none; margin: 0 auto;">
                <h1>Hello! How Are You?</h1>
                <form action="{% url 'story6app:landingpage_add' %}" method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form }}
                        </div>
                        <button type="submit" class="btn btn-primary">Tell It!</button>
                </form>
            </div>      
        </div>
    </div>
    <div class="container-fluid lpnya">
        <div class="row">
            <div class ="col-sm-8" style="float: none; margin: 0 auto;">
                <div class="panel panel-default">
                    <br>
                    <div class="panel-body">
                        <table style="width:100%;" class="center">
                                {% if news %}
                                    {% for mood in news %}
                                    <tr>
                                        <td>{{ mood.message }}</td>
                                        <td>{{ mood.time }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                        </table>
                        <br><br>
                        <p>Thank You For Telling Me!</p>
                        <div class="link-profile" style="text-align: center">
                            <a href="/" class="btn btn-light" style="border-color: #AFCBFF; color: #3D348B; font-family: Karla; font-style: normal; font-weight: bold; font-size: 18px">
                                Go to My Profile</a>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>