{% extends 'base.html' %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
  <link href="{% static 'style_story6.css' %}" type="text/css" rel="stylesheet"/>
  <script src="{% static 'js_story8.js' %}"></script>

  <title>Khameela's Profile</title>
  </head>

  <body>
    <div id="loader">
      <div class="spinner"></div>
    </div>      
    <br><br>
  	<div class = "container webnya">
      <div class="row">
        <div class="col-sm-4 image overlay">
          <img class="profile" src="http://mela-ppw.herokuapp.com/foto.png">
          <div class="judul">Khameela Rahmah.</div>
          <div class="little-desc">
            <ul style="list-style-type:none;">
              <li>NPM: 1706023422</li>
              <li>19 yo.</li>
              <li>Student.</li>
              <li>Scorpion.</li>
              <li>INFP.</li>
            </ul> 
          </div>
        </div>
        <div class="col-sm-8 teks-deskripsi">
          <div class="row">
          <div class="col-sm">
            <br>
            <div class="judul-desc">A little more about myself</div>
            <div class="desc">Her friends and family called her Mela. Was born in Jakarta on October 26, 1999. The 2nd child in the family. Currently studying at Fasilkom Universitas Indonesia. Like Japanese Vibes and wish someday could go there. Like listening to good musics and watch good movies.</div>
            <br>
            <div class="judul-desc">Educations</div>
            <div class="desc">
              <dl>
                <dt>Universitas Indonesia</dt>
                <dt>SMAN 39 Jakarta</dt>
                <dt>SMPN 49 Jakarta</dt>
                <dt>SDN Dukuh 09 Pagi</dt>
              </dl> 
            </div>
          </div>
          <div class="col-sm-12">
            <button class="accordion">Activities</button>
            <div class="panel panel-profile">
              <br>
              <p>Desain Poster</p>
              <p>Mengerjakan Tugas</p>
            </div>
            <button class="accordion">Organizations</button>
            <div class="panel panel-profile">
              <br>
              <p>Biro Media BEM Fasilkom UI</p>
              <p>Divisi Dekorasi CGT 2018</p>
              <p>Divisi Press COMPFEST X</p>
              <p>Divisi HPK PMB 2018</p>
              <p>Divisi Kreatif Wisgan 2019 </p>
            </div>
            <button class="accordion">Achievements</button>
            <div class="panel panel-profile">
              <br>
              <p>Tepat Waktu</p>
              <p>Bangun Pagi</p>
            </div>
            <br>
          </div>
          <div class="col-sm-11 col-centered">
            <button id = "daymode" class="btn btn-light" style="background-color: #AFCBFF; color: #13274A; font-family: Karla; font-style: normal; font-weight: bold; font-size: 18px">Day Mode</button>
            <button id = "nightmode" class="btn btn-dark" style="background-color: #13274A; color: #AFCBFF; font-family: Karla; font-style: normal; font-weight: bold; font-size: 18px">Night Mode</button>
            <br>
          </div>
          </div><br>
      </div>
  </div>
</div><br><br>
{% endblock %}
</body>
</html>