<!doctype html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
  <script src="{% static 'js_story9.js' %}"></script>
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- NumeraliaJS for formatting currency -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
  body {
      background-color: #AFCBFF;
  }
  .judul {
      color: #13274A; 
      font-family: Karla; 
      text-align: center;
      font-style: normal; 
      font-weight: bold; 
      font-size: 30px
  }
  h5{
      font-family: Karla;
      color: #3D348B;
      font-style: normal;
      font-weight: bold;
      text-align: center;
  }
  </style>
  <title>My Wishlist</title>
</head>

<body onload="getlaptop(0)">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="judul">My Wishlist</div>
    </div>
    </div>
    <div class = table-responsive>
      <table id="tablenya" style="width:100%"></table>
    </div>
    <div class="row">
      <div class="col">
        <h5>Total Harga Wishlist</h5>
        <div class="judul">
            <span>Rp. </span><span id="tobuy">0</span>
        </div>
      </div>
    </div>
  </div>
  <center>
      <div id="paginated"></div>
  </center>
</body>
</html>
